// --------------------------------------------------
// Generic Reset
// --------------------------------------------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'scroll-behavior: smooth' /* actual fonts */;
  
}

body {
  height: 100%;
  width: 100%;
  background-color: $primary;
}

a {
  color: $white;
  text-decoration: none;
}

a:focus {
  outline: none; 
  box-shadow: 0 0 3pt 2pt $white;
}

button:focus {
  // outline-offset: 3px; 
  // outline-color: red; 
  // outline-width: 3px; 
  outline: none; 
  box-shadow: 0 0 3pt 2pt $outline;
}

