.bg-dark {
  background-color: $black;
}

.fullheight {
  @include respond(ipad-portrait) {
    height: 100vh;
  }

  @include respond(desktop) { 
    height: 100vh;
  }
}

// buttons
//////////
.btn {
  display: block;
  font-family: $body-font;
  letter-spacing: .03rem;
  border: none; 
  border-radius: $border-radius;
  cursor: pointer; 
  outline:none;
}