// --------------------------------------------------
// Colors Variables
// --------------------------------------------------
$black: #191717;
$white: #f4f4f4;
$primary: #ffe2e2;
$grey: #999999;
$grey-light: darken($primary, 5%);
$grey-dark: #3f3a3a;
$grey-select: #8a8299;


// --------------------------------------------------
// Fonts Variables
// --------------------------------------------------
$title-font: 'Spectral', serif;
$body-font: 'Open Sans', sans-serif;

// --------------------------------------------------
// Border Variables
// --------------------------------------------------
$border-radius: .3rem;

// --------------------------------------------------
// Transitions Variables
// --------------------------------------------------
$btn-time: .5s;
