// --------------------------------------------------
// Colors Variables
// --------------------------------------------------
$black: #191717;
$white: #f4f4f4;
$primary: #ffe2e2;
$grey: #999999;
$grey-light: #d9c0c0;
$grey-dark: #3f3a3a;


// --------------------------------------------------
// Fonts Variables
// --------------------------------------------------
$title-font: 'Spectral', serif;
$body-font: 'Open Sans', sans-serif;