@import '../global-style/variables';

.Chip {
  display: flex;
  align-items: center;

  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  padding-right: 1.5rem;
  padding-top: .4rem; 
  padding-bottom: .4rem;

  font-family: $body-font;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  color: $grey-dark;
  background-color: $grey-light;
  border-radius: 50rem;
  cursor: pointer; 
  transition: background-color $btn-time;
  user-select: none;
  
  &:hover {
    background-color: darken($grey-light, 5%);
  }
}

.Chip-isActive {
  background-color: $grey-select;
  color: $white;
  
  &:hover {
    background-color: $grey-select;
  }
  span {
    color: $white;
  }
}

.Chip-icon {
  margin-right: .3rem;
  font-size: 3.4rem;
  color: $black;
}