@import '../global-style/variables';
@import '../global-style/mixins';


.GetQuote-btn {
  visibility: visible;
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 25rem;
  margin-top: -3rem;
  margin-left: -12.5rem;
  padding: 1.5rem 6rem;
  font-size: 2rem;
  font-weight: 400;
  color: $white;
  background-color: $black;
  transition: background-color $btn-time, transform .2s;

  @include respond(tablet) { 
    position: static;
    margin: 0 auto;
  }

  &:hover { background-color: lighten($black, 10%); }

  &:active { transform: scale(.98); }
}


.GetQuote-btn-disabled {
  background-color: $grey;
  color: darken($grey, 30%);
  cursor: auto; 

  &:hover { background-color:$grey; }
}

.GetQuote-btn-bg {
  position: sticky; 
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 9rem;
  background-color: rgba($primary, 0.9);

  @include respond(tablet) { 
    position: static; 
    visibility: hidden;
  }
}