@import '../global-style/variables';
@import '../global-style/mixins';

.Nav {
  display: flex;
  align-items: center;
  margin-bottom: 6.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Nav-logo {
  font-family: $title-font;
  font-size: 2.4rem;
  font-weight: 700;
  color: $black;
  letter-spacing: -.05em;

  @include respond(tablet) { 
    font-size: 2.9rem;
  }
}

.Nav-icon-logo {
  width: 3.5rem;
  margin-left: auto;

  @include respond(tablet) { 
    width: 4rem;
  }
}